# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
dist/
dist-ssr/
build/
*.local

# Environment variables (JANGAN di-push!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS
.DS_Store
Thumbs.db

# Supabase
supabase/.temp/
supabase/.branches/